<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jackchuka.ghq</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>90D8C171-7151-4632-820C-82D281807D3A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>48D6BBC4-8AE2-4092-9AC6-44B190B5BE40</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D4D13AD2-C962-40F5-A8D7-217739DF565C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>993C375D-6628-4BE1-9A32-E656287A69CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF3FF5E6-956F-42FF-B6BD-DBEB74B41B35</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90D8C171-7151-4632-820C-82D281807D3A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>jackchuka</string>
	<key>description</key>
	<string>open local ghq repository</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ghq</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -a "$PATH_TO_APP" {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>993C375D-6628-4BE1-9A32-E656287A69CC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>ghq</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>PATH=$PATH:/usr/local/bin:/opt/homebrew/bin

enc() {
  echo "$1" | sed -e 's/&amp;/\&amp;amp;/g' -e 's/&gt;/\&amp;gt;/g' -e 's/&lt;/\&amp;lt;/g' -e "s/'/\&amp;apos;/g" -e 's/"/\&amp;quot;/g'
}
echo "&lt;?xml version='1.0'?&gt;&lt;items&gt;"
for i in $(ghq list -p | grep -i '{query}')
do
   name=$(enc "$i")
   repo=$(echo "$name" | awk -F'/' '{print $NF}')
   echo "&lt;item uid='$name' arg='$name' valid='yes' autocomplete='$repo'&gt;&lt;title&gt;$repo&lt;/title&gt;&lt;subtitle&gt;$name&lt;/subtitle&gt;&lt;icon&gt;icon.png&lt;/icon&gt;&lt;/item&gt;"
done
echo "&lt;/items&gt;"
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>opens local repo</string>
				<key>title</key>
				<string>ghq {repo}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D4D13AD2-C962-40F5-A8D7-217739DF565C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ghq get</string>
				<key>subtext</key>
				<string>gets repo</string>
				<key>text</key>
				<string>ghq get {repo}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FF3FF5E6-956F-42FF-B6BD-DBEB74B41B35</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Done - ghq get</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>48D6BBC4-8AE2-4092-9AC6-44B190B5BE40</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>PATH=/usr/local/bin:/opt/homebrew/bin:$PATH


ghq get {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>90D8C171-7151-4632-820C-82D281807D3A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>48D6BBC4-8AE2-4092-9AC6-44B190B5BE40</key>
		<dict>
			<key>xpos</key>
			<integer>445</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>90D8C171-7151-4632-820C-82D281807D3A</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>993C375D-6628-4BE1-9A32-E656287A69CC</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>D4D13AD2-C962-40F5-A8D7-217739DF565C</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>FF3FF5E6-956F-42FF-B6BD-DBEB74B41B35</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>GHQ_ROOT</key>
		<string></string>
		<key>PATH_TO_APP</key>
		<string>/Applications/IntelliJ IDEA.app</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>PATH_TO_APP</string>
		<string>GHQ_ROOT</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/jackchuka/alfred-workflow-ghq</string>
</dict>
</plist>
